*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #83c2f0;
    display:flex;
    padding:1%;
}

nav img{
    width:40px;
    border-radius:50%;

}
nav a{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-family: cursive;
    margin-left: 6%;
    margin-top: 0.6%;
    font-size: 1.3rem;
    transition: 0.4s;
}
nav a:hover{
    border-bottom: 3px solid red;
}
nav h2{
    margin-left:23%;
}
h3{
    margin-top:5%;
    text-align:center;
}
    .card{
        margin: 2% 5%;
        transition: 0.7s;
        cursor: pointer;
        box-shadow: 12px 13px 30px rgba(75, 72, 236, 0.753);
        width: 18rem;
    }
    .card:hover{
        transform: scale(1.1);
        background-color: rgb(230, 220, 220);
        box-shadow: 12px 13px 30px rgba(75, 218, 228, 0.712);
    }
    .loader{
    background-color: #fff;
    background-image: url('../img/loader1.gif');
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999999;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
img#bills{
    width: 5rem;
    position:fixed;
    right:13rem;
    top:9rem;
}
#genbill{
    position:fixed;
    right:13rem;
    top:14rem;
    color: crimson;
    text-decoration: none;
    font-family: cursive;
}
table{
    /* margin-top:5%; */
    width: 100%;
    text-align:center;
}
tr:nth-child(2n){
    background-color: #b3daf7;
}
.oparation{
    width: 40%;
    border:0.5px solid black;
    padding:8px;
    margin-top:7%;
    margin-left:5%;
    margin-bottom: 3%;
}
.oparation form{
    width: 100%;
}
.oparation form button{
    margin-left:5px;
}
.found{
    background-color:bisque;
}


@media (min-width:320px) and (max-width:480px){
    .oparation{
        width: 77%;
    }
    .card{
        width: 14rem;
    }
}
@media (min-width:500px) and (max-width:900px){
    .oparation{
        width: 80%;
    }
    .card{
        width: 14rem;
    }
}
/* Code By SUDHIR */