*{
    margin: 0;
    padding: 0;
}
/* Code By SUDHIR */
nav{
    background-color: #83c2f0;
    display:flex;
    padding:1%;
}

nav img{
    width:40px;
    border-radius:50%;

}
html,body{
    width: 100%;
    overflow-x: hidden;
}

nav h2{
    margin-left:37%;
}
#head{
    color: lightcoral;
    text-align: center;
    text-shadow: 3px 4px 4px goldenrod;
    margin-bottom: 2%;
}
.billform{
    margin:5% 10%;
    display:inline-flex;
}
input[type="email"]{
    width:16rem;
}
input[type="text"]{
    width:16rem;
}
#billtb{
        margin-left: 15%;
        margin-top:2%;
        border-radius:15px;
        text-align:center;
    }
    #billlist{
        width: 40%;
        margin-top: 8%;
        margin-left: 5%;
    }
    #billlist td{
        padding:0.2rem;
    }
    tr,td,th{
        border:1px solid black;
        width:11rem;
        height:1.1rem;
    }
    .bill{
        height: 60vh;
        margin: 11% 22%;
        background-color: aliceblue;
        text-align: center;
        border-radius: 15px;
        box-shadow: 3px 3px 18px rgb(166, 245, 218);

    }
    .btn{
        margin-top:2%;
    }
    #back{
        position: absolute;
        left: 1rem;
        top: 8rem;
        padding: 5px;
        border-radius: 10px;
        background: azure;
        width: 4.2rem;
        color: red;
        text-decoration: none;
        font-weight:500;
        text-align: center;
    }
    #logusertb{
        width:60%;
        margin:auto;
        text-align:center;
        padding:1px;
        background: lavenderblush;
    }
    
    body{
        background-color:rgb(160, 240, 213);
    }
@media (min-width:320px) and (max-width:480px){
    nav h2{
        font-size: 0.8rem;
        margin-left: 10%;
    }
    #back{
    left: 1rem;
    top: 4rem;
    width: 3.2rem;
    }
    .billform{
        display: block;
    }
    .bill {
        font-size: 0.7rem;
    }
    #billtb{
        margin-left: 0;
    }
}
@media (min-width:481px) and (max-width:768px){
    #billtb {
        margin-left: 3%;
        margin-top: -1%;}
    .billform{
        margin-left: 15%;
        }
}
@media (min-width:600px) and (max-width:900px){
    .bill{
        height: 50vh;
    }
}
@media (min-width:769px) and (max-width:1036px){
    #billtb {
        margin: 0;
        margin-top: -1%;}
    .billform{
        margin-left: 15%;
    }
    /* .bill{
        height: 0vh;
    } */
@media (min-width:1024px){
 .bill{
    height: 79vh;
 }
}

}
